@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ed1d24;
}
html {
  scroll-behavior: smooth;
  transition: all 1s ease-in-out;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  /* background-color: #202020; */
  background-image: linear-gradient(
    to right top,
    #161a3a,
    #13162f,
    #111224,
    #0d0d1a,
    #06060e
  );
}
a {
  transition: all 0.4s ease-in-out;
}
nav > a {
  margin: 0 15px;
  font-size: 18px;
  text-decoration: none;

  color: white;
  border-bottom: 3px solid transparent;
  /* padding-bottom: 8px; */
}
nav a:hover {
  color: #ed1d24;
  border-bottom: 3px solid #ed1d24;
}
a:hover,
.pagination .prev:hover,
.pagination .next:hover {
  color: #ed1d24;
}
.btn-logout {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: white;
  padding: 8px 10px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.pagination input[type="submit"] {
  transition: all 0.4s ease-in-out;
}
.pagination input[type="submit"]:hover,
.btn-logout:hover {
  background-color: transparent;
  color: var(--color-primary);
}
nav.nav-mobile span {
  font-size: 20px;
  color: white;
}
.bg-settings {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.disabled {
  color: rgb(74, 74, 74);
}
.red {
  color: var(--color-primary);
}
.active {
  border-bottom: 2px solid var(--color-primary);
}
.toggle-favorites span {
  transition: all 0.4s ease-in-out;
}
.toggle-favorites span:hover {
  color: var(--color-primary);
}
.pagination .prev,
.pagination .next {
  transition: all 0.4s ease-in-out;
}
.pagination input:focus {
  outline: none;
}
header {
  background-image: linear-gradient(
    to right top,
    #161a3a,
    #13162f,
    #111224,
    #0d0d1a,
    #06060e
  );
}

footer {
  background-image: linear-gradient(
    to right top,
    #161a3a,
    #13162f,
    #111224,
    #0d0d1a,
    #06060e
  );
}
.btn-groups a {
  transition: all 0.4s ease-in-out;
}
.btn-groups a:hover {
  background-color: transparent;
  color: white;
}

/*=======HOME=======*/
.hero {
  background-image: url("../src//assets/images/bg-img-home.jpg");
}

.section-heroe {
  background-image: url("../src//assets/images/poster.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.scroll > div {
  transition: all 0.4s ease-in-out;
  /* animation: scroll 1s infinite cubic-bezier(0.075, 0.82, 0.165, 1); */
  /* animation: 1s scroll linear infinite alternate slidein; */
  animation: 3s scroll linear 1s infinite alternate;
  position: absolute;
  left: 13px;
}
@keyframes scroll {
  0% {
    opacity: 0.2;
    top: 16px;
  }
  30% {
    opacity: 0.6;
    top: 20px;
  }

  60% {
    opacity: 1;
    top: 24px;
  }
  80% {
    opacity: 0.6;
    top: 20px;
  }
  100% {
    opacity: 0.2;
    top: 18px;
  }
}
/*=======CHARACTERS=======*/
.bg-img {
  height: 40vh;
  background-color: #161a3a;
  width: 100%;
  background-image: url("../src/assets/images/bg-img-home.jpg");
}
.search-bar input:focus {
  outline: none;
}

main.form-container {
  background-image: url("./assets/images/poster-min.png");
  /* background-image: url("./assets/images/bg-login.jpg"); */
}
main.form-container .overlay {
  background-color: rgb(17 18 36 / 70%);
}
/* Small devices such as large phones (640px and up) */
/* @media only screen and (min-width: 40em) {...} */
/* .form-wrapper {
  background-image: linear-gradient(
    to right top,
    rgb(22 26 58 / 100%),
    rgb(19 22 47 / 100%),
    #111224b3,
    #0d0d1a,
    #06060e
  );
} */
.form-wrapper form input {
  /* width: 300px; */
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-primary);
  padding: 20px;
  color: white;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
.form-wrapper form input::placeholder {
  color: white;
  font-weight: 300;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.form-wrapper form input:focus {
  outline: none;
  background: transparent;
}
.form-wrapper form input:-internal-autofill-selected {
  background: transparent;
}

.form-wrapper form button {
  width: 100px;
  border: 1px solid transparent;
  background: var(--color-primary);
  padding: 10px;
  font-size: 18px;
  color: white;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.form-wrapper form button:hover {
  border: 1px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}
.form-wrapper a {
  color: white;
  font-weight: 700;
  font-style: italic;
}
.form-wrapper a:hover {
  color: var(--color-primary);
}
.dialog-panel {
  background-image: url("../src/assets/images/bg-login.jpg");
  background-repeat: no-repeat;
  background-position-x: 160px;
  background-color: #030303;

  background-size: cover;
}
@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}
